PORT=5000
NODE_ENV=development
DATABASE_URL=postgresql://neondb_owner:npg_2ZUglBn4IFdH@ep-delicate-heart-ay3m85e1-pooler.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=super_secret_jwt_access_key_produce_marketplace_2026
JWT_REFRESH_SECRET=super_secret_jwt_refresh_key_produce_marketplace_2026
CLIENT_URL=http://localhost:5173
